/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole container-generale */
#general-container{
    padding: 50px;
    height: 100vh;
    position: relative;
}

/* regole img-container */
#img-container{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* regole immagini */
.item{
    display: none;
    
}

.item > img{
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.active{
    display: block;
}

/* regole bottoni */
#pulsanti{
    display: flex;
    justify-content: space-around;
}

.forward{
    font-size: 50px;
    width: 4%;
    margin: auto;
}

.forward:hover{
    cursor: pointer;
}

.back{
    font-size: 50px;
    width: 4%;
    margin: auto;
}

.back:hover{
    cursor: pointer;
}